.navbar {
  display: flex;
  flex-direction: column;
  background-color:lightcyan;
  padding: 30px;
  min-width: 200px;
}

.menu {
  text-decoration: none;
  margin-bottom: 10px;
  color: gray;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}